<mat-toolbar color="primary" class="fix-nav">
  <button
    type="button"
    mat-icon-button
    class="visible-md"
    (click)="toggleSidebar()"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div class="nav-brand">
    <img src="../../../../assets/images/loremipsum-logo.svg" />
  </div>
  <span class="nav-spacer"></span>
  <button mat-icon-button color="primary">
    <mat-icon matBadge="15" class="icon-size-30" matBadgeColor="warn"> notifications_none </mat-icon>
  </button>
  <button class="hidden-sm" color="primary" mat-icon-button>
    <mat-icon class="icon-size-30">account_circle</mat-icon>
  </button>
</mat-toolbar>
