<mat-card class="mat-margin-10">
  <div mat-card-avatar class="header-image"></div>
  <div class="header-text">Blogs</div>

  <div class="header-desc">Total Users : 20</div>
</mat-card>

<div class="card-data m10">
  <div class="card" *ngFor="let item of blogs">
    <mat-card>
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{ item.name }}</mat-card-title>
          <mat-card-subtitle
            >{{ item.description }} <br /><a class="location-icon" href="#">Read More</a>
            <div class="action-style">
              <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile
                  ><span class="material-icons"> schedule </span>22 July
                  2020</mat-grid-tile
                >
                <mat-grid-tile>
                  <span class="material-icons"> account_circle </span>Alex
                  Paul</mat-grid-tile
                >
              </mat-grid-list>
            </div>
          </mat-card-subtitle>
          <img mat-card-sm-image [src]="item.imgSrc" />
        </mat-card-title-group>
      </mat-card-header>
    </mat-card>
  </div>
</div>
